body{
     margin: 0; /*reduce body margin to 0 */
}

.header{
    background-color: antiquewhite;
    display: flex; /* flex to horizontoly */
    flex-direction: row; /* flex like a row(side by side) */
}

.nav-bar{
    list-style-type: none; /* change icon infront of the list items */
}
